@import '../node_modules/bootstrap/scss/bootstrap';

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

$primary-color : #FCAF16;
$font-color : black;
$font-family : 'Open Sans', sans-serif;


.accordion {
    --bs-accordion-bg : transparent;
    --bs-accordion-body-padding-x: 0;
    --bs-accordion-body-padding-y: 1rem;
    --bs-accordion-btn-padding-x: 0;
    --bs-accordion-btn-padding-y: 1rem;
    --bs-accordion-active-color : $primary-color;
    --bs-accordion-btn-focus-border-color : transparent;
    --bs-accordion-btn-focus-box-shadow : none;
    --bs-accordion-active-bg : transparent;
}

.accordion-button:not(.collapsed) {
    font-weight: 600;
}

.btn {
    --bs-btn-hover-border-color : 0;
}


html,body {
    width: 100%;
    height: 100vh;
    font-family: $font-family;
    color : $font-color;
    background-color: white;
}

a {
    color : $font-color;
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0; padding: 0;
    display: flex;
}

h4 {
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}

.btn-arrow {
    display: inline-block;
background-color: black;
height: 30px;
width: 30px;
border-radius: 50%;
position: relative;
text-indent: -9999px;
    
}
.btn-arrow.btn-arrow-next::after {
    content: "";
display: block;
position: absolute;
height: 0;
width: 0;
border-top: 7px solid transparent;
border-bottom: 7px solid transparent;
border-left: 7px solid white;
top: 7px;
left: 13px;
}

.btn-arrow.btn-arrow-prev::after {
    content: "";
display: block;
position: absolute;
height: 0;
width: 0;
border-top : 7px solid transparent;
border-right : 7px solid white;
border-bottom : 7px solid transparent;
top: 7px;
left: 10px;
}

.btn-more {
    display: inline-block;
    position: relative;
    margin-top: 1rem;
    margin-left : 0.2rem;
    background-color: #FCAF16;
    border-radius: 0;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 600;
}

.btn-more::after {
    content: "btn";
    border: 2px solid black;
    display: block;
    width: 100%;
    position: absolute;
    top: -4px;
    left: -4px;
    padding: 0.325rem;
    text-indent: -999px;
}

#overlay {
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    left: 0;
}