<script>
  import { getDataFromMainPad } from './lib/server' 
  
  import Home from './lib/components/Home.svelte'
  import Page from './lib/components/Page.svelte'
  
  import { appStore } from './lib/stores/store.js'
  import { onMount } from 'svelte';
  
  let source = {}

  onMount ( async ()=>  {
    source = await getDataFromMainPad();
  })
  
  
  
</script>

{#if $appStore.screen === 'Home' || $appStore.screen === 'Panel' }
  <Home data={source} />
{:else if $appStore.screen === 'Page'}
  <Page data={source}/>
{/if}

