<script>
    import Nav from './Nav.svelte'
    import Intro from './Intro.svelte'
    import Panel from './Panel.svelte'
    import Themes from './Themes.svelte'
    import { appStore } from '../stores/store.js'


    export let data=[];

    function showPanel(event) {

        $appStore.screen = 'Panel';
        $appStore.theme = event.detail.id;
	}

    if($appStore.screen === 'Panel') showPanel({detail : {id : $appStore.theme}});

</script>

<main>
    <Nav />
    <section class="container">
        <Intro text = { data.intro }/>
        <Themes themes = { data.themes } on:theme={showPanel} />
    </section>
    {#if $appStore.screen === 'Panel' }
    <Panel {...data} />
    {/if}
</main>
<style lang="scss">
    main {
      height : 100vh;
      background: rgb(255,255,255);
      background: linear-gradient(150deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 55%, rgba(252,175,22,1) 55%, rgba(252,175,22,1) 100%); 
    }

  section {
      position: relative;
  }
</style>