<script>
    export let text='';
</script>
<div id="intro">
    <h1><small>Des</small> Communs <small><br> pour les</small> tiers-lieux</h1>
    <p class="intro-text">
        { text }
    </p>
</div>

<style lang="scss">
    #intro {
        
        width: 100%;
        h1 {
            font-size: 2rem;
            font-weight: 600;
            line-height: 2rem;
        }
    }

    @media (min-width: 992px) {
        #intro {
            
            width: 40%;
            h1 {
                font-size: 3.5rem;
                line-height: 2.2rem;
                small {
                    font-size: 1.6rem;
                }
            }   
            p{
                font-size: 1rem;
                line-height: 1.4rem;
                margin: 2rem 0 6rem;
            }
        }
    }   
</style>