<script>
  import { appStore } from '../stores/store';
    import Nav from './Nav.svelte'
    import { afterUpdate, onMount } from 'svelte';
    import { marked } from 'marked';
    import matter from 'tiny-matter';

    export let data;

    let loading =true;
    let metadata ;
    let post;
    let toc;


    function home(){
        $appStore.screen = 'Panel';
    }



    onMount( async () => {

 
        const page = await fetch(`https://pad.lescommuns.org/communs-tiers-lieux-${$appStore.solution}/download`);
        const markdown = await page.text();
        const postdata = matter(markdown);
        post = marked(postdata.content);
        metadata = postdata.data

        let headerRegex  = /<h([0-6])(.*?)>(.*?)<\/h[0-6]>/g;
        let anchorIndex = 0;
        post = post.replace(headerRegex,(match,p1,p2,p3) => {
            anchorIndex++;
            return '<h'+p1+' id="anchor-'+anchorIndex+'" '+p2+'>'+p3+'</h'+p1+'>';

        })

        anchorIndex = 0;
        toc =( markdown + '\n').match(/(#+ .*\n)/g).map( h => {
            anchorIndex++;
            if(h.startsWith('###'))  return '<a class="level-3" href="#anchor-'+anchorIndex+'">'+h.substring(3)+'</a>' ;
            if(h.startsWith('##')) return '<a class="level-2" href="#anchor-'+anchorIndex+'">'+h.substring(2)+'</a>' 
            if(h.startsWith('#')) return '<a class="level-1" href="#anchor-'+anchorIndex+'">'+h.substring(1)+'</a>' 
        } );

        loading = false
    })


</script>
<main>

    <Nav />
    
    {#if !loading}

    <section class="solution-header">
        <div class="container">
            <h1>Communs des Tiers-lieux</h1>
            <h2 class="solution-title">{ metadata.titre }</h2>
        </div>        
    </section> 
    <section class="solution-contact">
        
        <div class="container">
            <h3>Vos contacts</h3>    
            <div class="d-flex">
            {#each [1,2,3,4,5] as i }
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4 d-flex align-items-center contact-avatar">
                    <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" class="rounded-circle"  alt="Avatar" />
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Support</h5>
                      <p class="card-text">Pour toutes questions, prenez contact avec Antoine !</p>
                      <p class="card-text"><small class="text-muted">antoine[at]tiers-lieux.org</small></p>
                    </div>
                  </div>
                </div>
            </div>
            {/each}
        </div>
            
        </div>
    </section>

    <section class="solution-content">
        <div class="container">
        <div class="row position-relative">
            <div class="col-3 post-metadata d-flex flex-column justify-content-between">
                
                <div class="solution-data position-sticky">
                    <a on:click={()=>home()} class="btn btn-more btn-back" role="button">Retour</a>
                    <ul class="list-group list-group-flush">
                        {#if metadata.lien}
                        <li class="list-group-item">
                            <h4>Lien du communs</h4>  
                            <a href="{ metadata.lien }" target="_blank" rel="noreferrer">{ metadata.lien }</a>   
                        </li>
                        {/if}
                        {#if metadata.video}
                        <li  class="list-group-item">
                            <h4>Découvrir en image</h4>  
                            <iframe width="100%" height="auto" src="{ metadata.video}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                            
                        </li>  
                        {/if}
                        {#if metadata.cout}
                        <li  class="list-group-item">
                            <h4>Coût</h4>  
                            <p>{metadata.cout}</p>
                        </li>  
                        {/if}
                        {#if metadata.tags }
                        <li  class="list-group-item">
                            <h4>Usage</h4>  
                            <div class="solution-tags"> 
                                
                                    {#each metadata.tags as tag }
                                        <span class="badge rounded-pill text-bg-secondary">{tag}</span>
                                        
                                    {/each}
                                
                            </div>
                        </li>
                        {/if}
                    </ul>
                </div>
                
                
                <div class="aside-illus ">
                    <img src="./assets/images/illus_desk.svg" alt="">
                </div>   
            </div>
            <div class="col-9 post-main">
                <div class="post-featured-image">
                    <img src="{ metadata.image }" alt="">
                </div>
                
                <div class="row">
                    <div class="col-9">
                        <div class="post-content">
                            {@html post}

                            <div class="post-edit">
                                <p>Editez ce contenu sur <a href="https://pad.lescommuns.org/communs-tiers-lieux-{$appStore.solution}" target="_blank">https://pad.lescommuns.org/communs-tiers-lieux-{$appStore.solution}</a></p>
                            </div>

                            <div id="rocketchat">
                                <h4>Discutons !</h4>
                                <iframe src="https://chat.lescommuns.org/channel/loot?layout=embedded" frameborder="0"></iframe>
                            </div>

                            
                
                        </div>
                    </div>
                    <div class="col-3">
                        <div id="toc" class="toc position-sticky">
                            {#each toc as heading}
                                {@html heading}
                            {/each}
                        </div>
                    </div>
                </div>    
            </div> 
            
        </div>
    </div>
    </section> 
    {/if}
</main>




<style lang="scss">

    #rocketchat{
        height: 400px;
        width : 100%;
        iframe {
            width: 100%;
            height: 100%;
        }
    }

    main {
        background-color: white;
        background: linear-gradient(90deg, rgba(252,175,22,1) 0%, rgba(252,175,22,1) 60px, rgba(255,255,255,1) 60px, rgba(255,255,255,1) 100%); 
    }
 
    :global(img) {
        max-width : 100%    
    }

    section {
        margin : 0;
        padding : 0;
    }

    .solution-header {
        h1 {
            font-size : 1.6rem;
            font-weight : 600;
            padding : 2rem 0;
            margin: 0;
        }

        .solution-title {
            font-size : 3.5rem;
            font-weight : 600;
            margin-top : 2rem
        }
        
        .breadcrumbs {
            display : block;
            text-transform: uppercase;
            font-size : 0.8rem;
            font-weight : 600;
        }
    }

    .solution-contact {
        .container {
            overflow-y: auto;
            flex-wrap: nowrap;
            border-top: 1px solid lightgray;
            padding : 1rem;

            h3 {
                font-size: 0.9rem;
                text-transform: uppercase;
                font-weight: bold;
            }
        }
        .card {
            border: none;
            min-width: 400px;
            margin-right: 1rem;

            .contact-avatar {
                width : 90px;
            }
            .card-title {
                font-size: 0.9rem ;
                font-weight: bold ;
            }
            .card-text {
                font-size: 0.9rem ;
            }
        }
    }

    .solution-content {
        padding : 3rem 0;
    }

    .post-metadata {

        .btn-back {
            margin-bottom: 1.5rem;
        }

        .solution-data {
            top : 20px;
            margin-right: 1rem;
        }
        .list-group-item{
            padding-left: 0;
            font-size : 0.9rem;
            color : dimgray;

            a {
                color : dimgray;
            }

            a:hover {
                text-decoration : underline;
            }

            h4 {
                margin: 0.5rem 0;
                color : black
            }
        }

        .solution-tags {
            .badge {
                padding: 0.4rem 0.6rem;
                margin: 0.2rem;
            }
        }
    }

    .post-edit{
        margin : 3rem 0;
        padding-top : 1rem;
        border-top : 1px solid lightgrey;
        font-style: italic;
        font-size: 0.7rem;
        color : dimgray;
        a {
            color : dimgray;
        }
    }

    .toc {
        margin-top: 3rem;
        margin-left: 1rem;
        top : 20px;

        
    }

    :global(.toc a ){
        display : inline-block;
        font-size: 0.8rem;
        color: dimgray;
    }

    .aside-illus {
        img {
            max-width : 90%;
            margin-left : -2rem;
        }
    }

    :global(.toc a) {display : block}
    :global(.toc .level-1) {}
    :global(.toc .level-2) {padding-left : 0.5rem}
    :global(.toc .level-3) {padding-left : 1rem}

    :global(.post-content h1) { font-weight : 600; font-size : 1.2rem; margin : 4rem 0 1rem; }
    :global(.post-content h2) { font-weight : 600;  font-size : 1rem; margin : 4rem 0 1rem; }
    :global(.post-content h3) { font-weight : 600; font-size : 0.8rem;  margin : 2rem 0 1rem;}
    :global(.post-content h4) { font-weight : 600; font-size : 0.8rem; margin : 2rem 0 1rem; }
    :global(.post-content h5) { font-weight : 600; font-size : 0.8rem; margin : 2rem 0 1rem; }
    :global(.post-content h6) { font-weight : 600; font-size : 0.8rem; margin : 2rem 0 1rem; }

    :global(.post-content p) { font-size : 0.9rem; color : darkslategray; text-align: justify ; }
    :global(.post-content ul ) { display : block; list-style: disc; }
    :global(.post-content ol ) { display : block; list-style: disc; }
    :global(.post-content ul li) { font-size : 0.9rem; color : darkslategray; text-align: justify ; margin-left : 1rem; }
    :global(.post-content ol li) { font-size : 0.9rem; color : darkslategray; text-align: justify ; margin-left : 1rem; }
    
</style>