<script>
  import Profils from "./Profils.svelte";
  import Solutions from "./Solutions.svelte";
  import { onMount } from "svelte";

  import { appStore } from "../stores/store.js";

  export let profiles = [];
  export let solutions = [];
  export let themes = [];

  let filteredSolutions = [];

  $: filteredSolutions = solutions.filter((s) => {
    return (
      s.themes.find((t) => t == $appStore.theme) &&
      s.profiles.find((p) => p == $appStore.profile)
    );
  });

  function home(){
        $appStore.screen = 'Home';
    }

  onMount(() => {
    const overlay = document.querySelector("#overlay");
    const panel = document.querySelector("#panel");

    overlay.addEventListener("click", (e) => {
      overlay.classList.remove("show");
      panel.classList.remove("show");
      $appStore.screen = "Home";
    });
  });
</script>

<div id="overlay" class:show={$appStore.screen === "Panel"} />
<div id="panel" class="d-flex" class:show={$appStore.screen === "Panel"}>
    
  <div id="theme-panel">
    <div class="panel-header">
      <h1>Des communs pour mon tiers-lieux</h1>
      <div class="row">
        <div class="col-3">
          <span class="theme-illustration"><img src="./assets/images/char_3.svg" alt=""></span>
          <span class="theme-back">
            <a on:click={()=>home()} class="btn btn-more btn-back" role="button">Retour</a>
          </span>

        </div>
        <div class="col-9">
          <h2 class="theme-title">Gérer</h2>
          <ul class="nav nav-tabs" id="theme-tabs" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="intro-tab" data-bs-toggle="tab" data-bs-target="#intro-tab-pane" type="button" role="tab" aria-controls="intro-tab-pane" aria-selected="true">Intro</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="faq-tab" data-bs-toggle="tab" data-bs-target="#faq-tab-pane" type="button" role="tab" aria-controls="faq-tab-pane" aria-selected="false">FAQ</button>
            </li>
          </ul>
          <div class="tab-content" id="theme-tabs-content">
            <div class="tab-pane fade show active" id="intro-tab-pane" role="tabpanel" aria-labelledby="intro-tab" tabindex="0">
              <div class="panel-section">
    
                <h3>C'est quoi la gestion en tiers-lieux ?</h3>
          
                <p>
                  Pour faire tiers-lieux et répondre aux besoins des acteurs du territoire
                  qui veulent adopter des modes de vie moins destructeurs, il n'y a pas
                  forcément besoin de structures et il n'y a pas forcément besoin de lieu
                  physique statique. 
                </p>
                <p>
                  Cependant, parfois, des structures et des espaces
                  physique peuvent s'avérer bien utile pour faire tiers-lieux. C'est alors
                  que la question de la GESTION se pose. Une stucture pour faire
                  tiers-lieux est souvent une entreprise (dans le bon sens du terme) et
                  nécessite des compétences de gestion et d'administration. Une structure
                  qui accueille de nombreuses activités, de nombreuses contributions, qui
                  vend des biens et des services, qui loue et qui facture, qui achète et
                  qui rémunère nécessite une attention professionnelle. 
                </p>
                <p>  
                  Les personnes qui
                  pensent pouvoir gérer une entreprise de ce type collectivement avec du
                  bon sens vont au devant de grandes difficultés ; ils vont perdre
                  beaucoup de temps et d'énergie et vont ainsi s'éloigner de leurs
                  intentions initiales.
                </p>
              </div>
            </div>
            <div class="tab-pane fade" id="faq-tab-pane" role="tabpanel" aria-labelledby="faq-tab" tabindex="0">
              <div class="panel-section">
                <div class="accordion accordion-flush" id="accordionExample">
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                      <button
                        class="accordion-button"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseOne"
                        aria-expanded="true"
                        aria-controls="collapseOne"
                      >
                      Quels sont les principaux concepts à avoir en tête ?
                      </button>
                    </h2>
                    <div
                      id="collapseOne"
                      class="accordion-collapse collapse show"
                      aria-labelledby="headingOne"
                      data-bs-parent="#accordionExample"
                    >
                      <div class="accordion-body">
                          <strong>Le pilotage budgétaire</strong> consiste à avoir un minimum de visibilité sur ce qui rentre et sort de la structure qui porte les actions du tiers-lieux. Vos financeurs et partenaires vous demanderont probablement d'avoir *un budget prévisionnel* ainsi qu'une réflexion sur *votre modèle économique*. Ce qui est compliqué en tant que gestionnaire amateur d'entreprise c'est de ...
          
                          <strong>La facturation</strong> repose sur un long processus administratif dont toutes les étapes ne sont pas forcément à respecter quand on est une petite entreprise. Ce qui est compliqué en tant que gestionnaire amateur d'entreprise c'est de ...
                          
                          <strong>La comptabilité</strong> ça sert à ... Ce qui est compliqué en tant que gestionnaire amateur d'entreprise c'est de ...
                          
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                      <button
                        class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo"
                        aria-expanded="false"
                        aria-controls="collapseTwo"
                      >
                      Comment avancer sur ce volet lorsque l'on démarre ?
                      </button>
                    </h2>
                    <div
                      id="collapseTwo"
                      class="accordion-collapse collapse"
                      aria-labelledby="headingTwo"
                      data-bs-parent="#accordionExample"
                    >
                      <div class="accordion-body">
                          Il existe plusieurs approches complémentaires pour aborder la gestion : 
                          1. <strong>Se former</strong> : Il semble peu probable de gérer une structure active sans se former à la gestion. Si possible au moins deux ou trois contributeurices deviennent un minimum compétents sur ces sujets. Cela afin de limiter la pression sur ces membres et d'éviter que quelqu'un devienne incontournable.
                          2. <strong>S'entourer et coopérer</strong> : Vos réseaux peuvent vous orienter et vous accompagner sur ces volets. Mobiliser des experts et animateurices de territoires pour savoir comment progresser sur ces enjeux sans vous détourner de votre projet.
                          3. <strong>S'outiller</strong> : Il existe des logiciels plus ou moins complexes pour gérer une entreprise de ce type. Plus vous investirez du temps et de l'argent dans la configuration et la prise en main d'un outil plus vous gagnerez du temps et de la serenité dans un second temps.
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                      <button
                        class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseThree"
                        aria-expanded="false"
                        aria-controls="collapseThree"
                      >
                      Est-ce possible de se répartir la charge de gestion entre les membres ?
                      </button>
                    </h2>
                    <div
                      id="collapseThree"
                      class="accordion-collapse collapse"
                      aria-labelledby="headingThree"
                      data-bs-parent="#accordionExample"
                    >
                      <div class="accordion-body">
                          Il est souhaitable que la charge de gestion reviennent à plusieurs membres. Cela permet de s'entraider et d'alléger le poid de la charge mentale qui pèse sur chacun. On limite aussi les risques sur le lieu si un·e des gestionnaires quitte l'aventure. Cependant cela nécessite une très bonne coordination et synchronisation ainsi qu'une grande clareté dans les rôles et responsabilités de chaque membre de cette équipe de gestion car les erreurs ou approximation peuvent coûter chères. Par ailleurs ce sont souvent des missions difficiles et ingrates, assez peu reconnues par les autres membres ou les utilisateur·ices, donc personne ne s'engage avec joie. Rares sont les personnes compétentes ; si vous gérez à plusieurs vous devrez donc être plusieurs à vous formez, ce qui peut représenter un investissement en temps voire en argent important pour votre collectif. 
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                      <h2 class="accordion-header" id="headingFour">
                        <button
                          class="accordion-button collapsed"
                          type="button"
                          data-bs-toggle="collapse"
                          data-bs-target="#collapseFour"
                          aria-expanded="false"
                          aria-controls="collapseFour"
                        >
                        Comment éviter de retomber dans les travers d'une gestion comptable prioritaire sur le sens des projets ?
                        </button>
                      </h2>
                      <div
                        id="collapseFour"
                        class="accordion-collapse collapse"
                        aria-labelledby="headingFour"
                        data-bs-parent="#accordionExample"
                      >
                        <div class="accordion-body">
                          Ce n'est pas parce que vous trouvez régulièrement les moyens de bien gérer vos activités que les raisonnements comptables et financiers priment dans vos décisions. Il arrive souvent que malgré des efforts et de la créativité les acteurs·rices ne parviennent pas à faire vivre leurs intentions tout en rentrant dans leurs frais. Il est probablement préférable de rapidement abandonner les projets en l'état. On peut alors tirer les enseignements et repartir de plus belle dans de nouvelles aventures. On s'évite ainsi de déployer une grande énergie dans des dynamiques que l'on estime pas à la hauteur de ses ambitions, ce qui génère un sentiment de frustration et d'injustice et entraîne l'épuisement. 
                        </div>
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
        
    </div>
    





      
      
    
  </div>
  <div id="solutions-panel">
    <Profils {profiles} />
    <Solutions solutions={filteredSolutions} />
  </div>
</div>

<style lang="scss">
  #panel,
  #overlay {
    display: none;
  }

  #panel.show,
  #overlay.show {
    display: block;
  }

  #panel {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: #fcaf16;

    #theme-panel {
      background-color: white;
      width: 70%;
      width: 70%;
      padding: 1rem 2rem;
      overflow-y: auto;
      height: 100vh;

      .panel-header {
        h1 {
          font-size: 1.5rem;
          font-weight: bold;
          margin-bottom: 2rem;
        }

        .theme-title {
          font-weight: bold;
          margin: 2rem 0 1rem;
        }
        .theme-illustration {
          display: block;
          width: 75%;
          margin-top: 2rem;
        }

        .theme-back {
          display: block;
          width: 100%;
          margin-top : 3rem;
          text-align: center;
        }

      }

      .panel-section {
        margin : 3rem 3rem 2rem 0;
        text-align: justify;
        h3 {
          font-size: 1.4rem;
          font-weight: bold;
          margin-bottom: 1.5rem;
        }
      }
    }
    

    #theme-tabs {
      margin-right: 3rem;
      .nav-link {
        border: none;
        padding: 0 0 5px 0 ;
        margin-right: 1rem;
        color: slategray;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 0.9rem;
      }

      .nav-link.active {
        color : black;
        border-bottom: 2px solid black;
      }
    }

    #solutions-panel {
      width: 30%;
    }
  }

  @media (min-width: 992px) {
    #panel {
      width: 100%;
      overflow: hidden;
    }
  }
</style>
