<script>

    import { onMount } from 'svelte';
    import  {appStore}  from '../stores/store.js'

    export let profiles;

    onMount ( () => {
      const profilesCarousel = document.getElementById('profilesCarousel')

      profilesCarousel.addEventListener('slid.bs.carousel', event => {
        $appStore.profile = profiles[event.to].id;
      })
    });
    


</script>

<div id="profiles" class="container-fluid">
  <h4>Mon profil, mes solutions !</h4>
  <div id="profilesCarousel" class="carousel slide" data-bs-ride="false">
    <div class="carousel-inner">
      { #each profiles as profile , index }
        <div class="carousel-item " class:active = {profile.id === $appStore.profile} >
          <div class="d-flex align-items-center">
            <div class=" profil-illustration">
              <img src="./assets/images/char_{index+1}.svg" class="d-block" alt="..." >
            </div>
            <div class="profil-description">
              <h5 class="fw-bold">{profile.label}</h5>
              <p>{profile.description}</p>
            </div>
          </div>
          

        </div>
      { /each }
      
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#profilesCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#profilesCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>


<style lang="scss">

#profiles {
  padding : 1rem 0.5rem;
  height : 25vh;
  h4 {
    padding: 1rem 0 1rem 1.5rem;
  }
}


.carousel-control-prev {
  justify-content: flex-start;
}

.carousel-control-next {
  justify-content: flex-end;
}
.profil-illustration {
  min-width: 25%;
  padding-left: 2rem;
}

.profil-description {
  padding: 0 2rem 0 1rem;
  font-size: 0.9rem;
}

</style>