<script>
    import  {appStore}  from '../stores/store.js'

    export let solutions = [];

    function display(id){
        console.log(id)
        $appStore.solution = id;
        $appStore.screen = 'Page';
    }

</script>

<div id="solutions" class="container-fluid">

    <h4>Mes solutions pour { $appStore.theme } { $appStore.profile }</h4>
    <div class="solutions-contaniner">
        { #if solutions.length > 0 }
            { #each solutions as solution , index (solution.id)}
                <div class="solution">
                    <h2 class="title">{ solution.label }</h2>
                    <p>{ solution.description }</p>
                    <a on:click="{()=>display(solution.id)}" class="btn btn-more" role="button">En savoir +</a>
                </div>
            { /each }
        { :else }
            <div class="solution no-solution">
                <p>Aucune solutions à votre demande ? Peut-être en essayant avec un autre thème ou au autre profil !</p>  
                <p>Peut-être <strong>vous avez une solution </strong>à nous suggérer ?</p>
                <p>Dans tous les cas, <a href="/contact/">on en parle quand vous voulez !</a></p> 
            </div>
        {/if}      
    </div>            

    
</div>

<style lang="scss">

#solutions {
    padding : 2rem 1rem;
    height : 75vh;
    background-color: white;

    .solutions-contaniner {
        height: 100%;
        overflow-y : auto
    }

    .solution {
        margin : 2rem 2rem 3rem 0; 
        h4 {
            margin-bottom : 3rem;
        }

        h2 {
            font-weight: bold;
        }

        p {
            font-size: 0.9rem;
            text-align : justify;
            color : dimgray;
        }
    }
   
}

</style>