<script>
    import * as bootstrap from 'bootstrap';
    import { onMount } from 'svelte';
    import { createEventDispatcher } from 'svelte';
    import {appStore} from '../stores/store.js';

    export let themes = [];
    let selectedTheme = {}

    const dispatch = createEventDispatcher();

    function showPanel() {
		dispatch('theme', {
			id: selectedTheme.id
		});
	}

    onMount( () => {
        let s = Snap('#illustration');
        const duration  = 400;

        const modalElt = document.getElementById('theme-modal');
        const themeModal = new bootstrap.Modal(modalElt,{backdrop : true})

        Snap.load('./assets/images/main_illustration.svg', (f) => {
            s.append(f);

            // Hide masks on load
            let plateforme = s.select('#plateforme_m')
            plateforme.attr({opacity : 0})
            let nodes = s.selectAll('.item');
            nodes.attr({opacity : 0})
        
            // Add event listener to svg groups and accordion 
            nodes.forEach(element => {

                // Add listener to svg
                element.mouseover( () => {
                    nodes.animate({opacity : 0.5},duration)
                    plateforme.animate({opacity : 0.5},duration)
                    element.animate({opacity : 0},duration)
                    
                }).mouseout( ()=> {
                    nodes.animate({opacity : 0},duration)
                    plateforme.animate({opacity : 0},duration)
                    //myModal.hide()
                }).click( ()=> {
                    const panelId = element.attr('id').slice(0,-2);
                    const theme = themes.find( t => t.id == panelId);
                    const title = document.getElementById('theme-modal-Label');
                    const content = document.getElementById('theme-modal-body');
                    content.innerHTML = theme.description;
                    title.innerHTML = theme.label;
                    selectedTheme = theme;
                    themeModal.show()
                })

            }); 
        })
    });
</script>

<div id="illustration"></div>
  
  <!-- Modal -->
  <div class="modal fade" id="theme-modal" tabindex="-1" aria-labelledby="theme-modal-Label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="theme-modal-Label">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="theme-modal-body">
          
        </div>
        <div class="modal-footer">
          <button type="button" on:click="{ showPanel }" class="btn btn-more " id="theme-modal-button" data-bs-dismiss="modal">En savoir plus</button>
        </div>
      </div>
    </div>
  </div>
  
  
<style lang="scss">

    
    #illustration {
        width: 100%;
        position: relative;
        cursor: pointer;
        
    }
    
    @media (min-width: 992px) {
        #illustration {
            position: static;
            margin : -8rem auto 0;
            width: 80%;
        }
    }

    

    .modal-dialog {
        position: absolute;
        bottom: 150px;
        right: 150px;

        .modal-content {
            border-radius: 5px;
            .modal-header {
                border-bottom: none;
                #theme-modal-Label {
                    font-size: 1.8rem !important;
                    font-weight: bolder;
                }
            }

            .modal-footer {
                border-top: 0;
                justify-content: space-around;
            }
        }
    }

    .modal-backdrop.show {
        opacity: 0.2;
    }

    .btn.btn-more{
        display : block;
    }

</style>